canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  width: 100%;
  color: #fff;
  display: grid;
  
  /*sets grids at 12 columns*/
  grid-template-columns: repeat(12, 1fr);
}

section {
  /* start at col 2 and end at col 8*/
  grid-column: 2 / 8;
}